# Tuple

In [1]:
#khaali tupple
t = ()

#tupple having integers
t = (1,2,3)
print(t)

#tupple with mixed datatypes
t = (1,'chintu',[1,'mintu',12,'chintu'])
print(t)

#nested tupple
t = (1,(2,3,4),[1,'chintu',12,'mintu'])
print(t)

(1, 2, 3)
(1, 'chintu', [1, 'mintu', 12, 'chintu'])
(1, (2, 3, 4), [1, 'chintu', 12, 'mintu'])

In [3]:
#bas parenthsis se kaam nhi chlega
t = ('chintu')
type(t)

str

In [4]:
#comma ko nhi bhulenge
t = ('chintu',)
type(t)

tuple

In [5]:
#parenthesis is optional
t = "chintu",
print(type(t))
print(t)

<class 'tuple'>
('chintu',)

In [6]:
#accesing elements in a tupple
t = ('chintu','mintu','pintu','sintu')
print(t[1])

mintu

In [7]:
#negative index
print(t[-1])  #prints last index in the tupple

sintu

In [8]:
#nested tupple
t = ('chintu',('mintu','EX','naam bta bhai'))
print(t[1])

('mintu', 'EX', 'naam bta bhai')

In [10]:
print(t[1][1])

EX

In [11]:
#Slicing
t = (1,2,3,4,5,6)
print(t[1 : 4])

print(t[: -2])

print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [12]:
#Immutable tupple
t = (1,2,3,4,[5,6,7])
t[2] = 'x'  #type error

TypeError: 'tuple' object does not support item assignment

In [13]:
t[4][1] = 'ex'
print(t)

(1, 2, 3, 4, [5, 'ex', 7])

In [14]:
#concat tupple
t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [15]:
#repeating element in tupple
t = (('KG',)*4)
print(t)

('KG', 'KG', 'KG', 'KG')

In [11]:
#delete tupple
t = (1,2,3,4,5,6) #delete entire tupple
l = list(t)
l.remove(3)
t = tuple(l)

In [12]:
print(t)

(1, 2, 4, 5, 6)

In [17]:
#tupple count 
t = (1,2,3,1,3,3,4,1,1,1)
t.count(1)

5

In [18]:
t = (1,2,3,4,3,3,1,4,1)
print(t.index(3))    #returns the index of the first element is equal to 3

2

In [19]:
#test if an item exist in tupple or not using in keyword
t = (1,2,3,4,5)
print(1 in t)
print(12 in t)

True
False

In [21]:
t = (1,2,3,4,5,6)
print(len(t))     #returns the length of the tupple

6

In [16]:
t = (4,5,1,2,3)
sorted_list = sorted(t)
print(sorted_list)
sorted_tuple = tuple(sorted_list)
print(sorted_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)